html {
  font-family: 'Tahoma';
  font-weight: normal; }

header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 19px; }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.container {
  width: 100%;
  max-width: 870px;
  padding: 0 15px; }

.logo {
  display: flex;
  justify-content: center;
  align-items: center; }

nav {
  display: flex;
  justify-content: center;
  align-items: center; }
  nav a {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px; }
    nav a:hover {
      text-decoration: underline; }
    nav a:last-child {
      margin-right: 0; }

p {
  width: 100%;
  color: #8d8d8d;
  font-family: "Times New Roman";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 20px;
  margin-bottom: 12px; }

.main_block {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px; }
  .main_block .inner {
    width: 100%;
    padding: 20px 30px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .main_block .inner img {
      width: 380px;
      height: 230px;
      object-fit: cover; }
    .main_block .inner .text_area {
      width: calc(100% - 380px);
      padding-left: 22px; }
      .main_block .inner .text_area p b {
        color: #000000;
        font-size: 21px;
        font-weight: 700;
        line-height: 26px;
        font-family: Tahoma; }
      .main_block .inner .text_area a {
        color: #fefefe;
        font-size: 13px;
        text-align: center;
        padding: 7px 25px;
        display: inline-block;
        height: 29px;
        margin-top: 3px;
        background-color: #da4137;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%); }
        .main_block .inner .text_area a:hover {
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%); }

.info_section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  padding-bottom: 40px; }
  .info_section .row {
    width: 100%;
    margin-bottom: 16px; }
    .info_section .row p {
      margin-bottom: 2px; }
      .info_section .row p b {
        color: #000000;
        font-family: Tahoma;
        font-size: 18px;
        font-weight: 700;
        line-height: 19px; }
  .info_section ul {
    width: 100%;
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
    padding-left: 9px;
    padding-right: 26px; }
    .info_section ul li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: #000000;
      font-family: "Times New Roman";
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      font-style: italic; }
      .info_section ul li img {
        margin-right: 16px; }

body.active {
  overflow: hidden; }

.responsive_wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  z-index: 100;
  transition: .3s;
  transform: translateX(110%);
  background: #DFE4E6;
  overflow-y: auto; }
  .responsive_wrapper .inner {
    width: 100%;
    position: relative;
    padding: 0 15px;
    padding-bottom: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 500px;
    padding-bottom: 80px; }
    .responsive_wrapper .inner .top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px; }
    .responsive_wrapper .inner nav {
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%; }
      .responsive_wrapper .inner nav a {
        font-weight: 600;
        font-size: 22px;
        line-height: 31px;
        color: #000;
        margin-bottom: 20px; }
        .responsive_wrapper .inner nav a figure {
          width: 40px;
          height: 40px;
          margin-right: 15px; }
          .responsive_wrapper .inner nav a figure svg {
            width: 22px; }
            .responsive_wrapper .inner nav a figure svg path {
              fill: #242E79; }
        .responsive_wrapper .inner nav a:last-child {
          margin-right: 0; }

.close_menu {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #000; }
  .close_menu svg {
    width: 20px; }
  .close_menu:hover {
    background-color: #fff; }
  .close_menu:active {
    background: #A9B5D0; }

.responsive_wrapper.active {
  transform: none; }

.mob_menu__button {
  width: 40px;
  background: transparent;
  border: none;
  display: none;
  padding: 0;
  margin: 0; }

.mob_menu__button span {
  width: 100%;
  float: right;
  display: block;
  height: 2px;
  border-radius: 1px;
  background-color: #1A1919;
  position: relative;
  transition: .3s; }
  .mob_menu__button span:nth-child(2) {
    width: 24px; }

.mob_menu__button span:not(:last-child) {
  margin-bottom: 11px; }
