@font-face {
	font-family: 'Tahoma';
	src: url('../fonts/Tahoma.eot');
	src: local('Tahoma'),
		url('../fonts/Tahoma.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Tahoma.woff') format('woff'),
		url('../fonts/Tahoma.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Tahoma';
	src: url('../fonts/Tahoma-Bold.eot');
	src: local('Tahoma Bold'), local('Tahoma-Bold'),
		url('../fonts/Tahoma-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Tahoma-Bold.woff') format('woff'),
		url('../fonts/Tahoma-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
